project:
  type: book
  output-dir: _book

book:
  title: "Design and Realization of Mixed-Technoloy Systems"
  author:
    - name: "Mirco Meiners"
      orcid: "0000-0002-9709-4191"
      email: "Mirco.Meiners@hs-bremen.de"
      corresponding: true
      roles: "Lead author"
      affiliation:
        - id: hsb
        - name: "Hochschule Bremen - City University of Applied Sciences"
          city: "Bremen"
          state: "Germany"
          url: "https://www.hs-bremen.de/person/mimeiners/"
    - name: "Tim Ziemann"
      email: "Tim.Ziemann@hs-bremen.de"
      roles: "Supporting author"
      affiliation:
        - ref: hsb
          
  date: last-modified
#  license: "Apache-2.0 license"

  reader-mode: true


  page-footer:
    left: |
      Design and Realization of Mixed-Technology Systems (DRMS)
#      Concept Engineering Mixed-Technology Systems
    right: |
      This book was built with <a href="https://quarto.org/">Quarto</a>.
#  cover-image: images/hsb-logo.png
#  favicon: images/hsb-logo.png
  site-url: https://mimeiners.github.io/cems/
  repo-url: https://github.com/mimeiners/cems/
  repo-branch: main
  repo-actions: [edit,issue]
  downloads: [pdf,epub]

  chapters:
    - index.qmd

    - part: Lecture
      chapters:
        - lec/lec-01-intro.qmd
        - lec/lec-03-sampling_quantization.qmd
        - lec/lec-04-adc_metrics.qmd
        - lec/lec-05a-oversampling_adc.qmd

    # - part: Winter 2024/25
    #   chapters:
    #     - lab/wise24/elie1/index.qmd
    #     - lab/wise24/elie2/index.qmd
    #     - lab/wise24/elie3/index.ipynb
    #     - lab/wise24/elie4/index.qmd
    #     - lab/wise24/elie5/index.qmd

    - references.qmd

  output-file: "drms"

highlight-style: pygments

# Bibliography
bibliography: _bibliography/references.bib
csl: _bibliography/ieee.csl


format:
  html:
    theme: flatly
    fontsize: 1.2em
    linestretch: 1.7
    # mainfont: Helvetica Neue, Helvetica, Arial, sans
    # monofont: Cascadia Mono, Menlo, Consolas, Courier New, Courier
    # backgroundcolor: "white"
    # fontcolor: "black"

  epub:
    theme: flatly
    fontsize: 1.2em
    linestretch: 1.7
    # mainfont: Helvetica Neue, Helvetica, Arial, sans
    # monofont: Cascadia Mono, Menlo, Consolas, Courier New, Courier
    # backgroundcolor: "white"
    # fontcolor: "black"

  pdf:
    documentclass: scrbook
    classoption: [twoside]

    keep-tex: true

    toc: true
    toc-depth: 3
    # toc-title: "Table of contents"
    # lof: true
    # lot: true

    number-sections: true
    number-depth: 2
        
    papersize: a4
        
    geometry:
      - inner=3cm
      - outer=4cm
      - top=3cm
      - bottom=4cm
      - headsep=22pt
      - headheight=11pt
      - footskip=33pt
      - ignorehead
      - ignorefoot
      - heightrounded

    fontsize: 11pt
    pdfengine: xelatex

    mainfont: "Calibri"
    # mainfont: "Times New Roman"
    # sansfont: "Arial"
    # monofont: "Courier New"
    mathfont: "TeX Gyre Termes Math"
    
    # include-in-header:
    #   - frontmatter/header.tex
    # template-partials:
    # - frontmatter/before-body.tex
    # - frontmatter/toc.tex
